{% load static %}
 <header class="header">

            <a href="" class="logo"> <i class="fas fa-heartbeat"></i> Jaipur City Hospital </a>

            <nav class="navbar">
                <a href="{% url 'homepage' %}"">home</a>
                <a href="#services">services</a>
                <a href="{% url 'aboutpage' %}">about</a>
                <a href="#doctors">doctors</a>
                <a href="{% url 'createaccountpage1' %}">Create an account</a>
                <a href="#review">review</a>
                <a href="#blogs">blogs</a>
                <a href="/admin">Admin</a>
                <a href="{% url 'loginpage' %}">login</a>

            </nav>

            <div id="menu-btn" class="fas fa-bars"></div>

 </header>